doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Sign Up
    body
        include ./header.pug
        main
            h1 Sign Up
            section#formSignUpContainer
                form(action="/signup" method="POST")
                    label(for="name") Name:
                        input#name(type="text" name="name" required)
                    label(for="email") Email:
                        input#email(type="email" name="email" required)
                    label(for="password") Password:
                        input#password(type="password" name="password" required)
                    button(type="submit") Sign Up
        include ./footer.pug
        script(src="/js/scripts.js")
