doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Sign Up
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap' rel='stylesheet')
        script(src="https://accounts.google.com/gsi/client" async defer)
    body
        include ./header.pug
        main
            h3 Sign Up
            section#formSignUpContainer
                form#form(action="/" method="POST")
                    label(for="name") Name:
                        input#name(type="text" name="name" required)
                    label(for="email") Email:
                        input#email(type="email" name="email" required)
                    label(for="password") Password:
                        input#password(type="password" name="password" required)
                        p#instructions Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character.
                    label(for='confirmPassword') Confirm Password
                        input#confirmPassword(type='password' name='confirmPassword' required)
                    button#signUpButton(type="submit") Sign Up
                div#googleSignInButton
        include ./footer.pug
        script(src="/js/scripts.js")

