* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    background-color: rgb(0, 0, 100);
    color: white;
    width: 100%;
}

header li {
    list-style: none;
}

header a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-brand {
    font-size: 1.2em;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

/* ************************** SIGN UP & LOG IN ************************** */

#formSignUpContainer, #formLogInContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 6px #00000017;
    margin: 20px 10px;
}

.form div {
    margin-bottom: 10px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 3px 6px #00000017;
}

input.error {
    border-color: red;
}

#password-instructions {
    font-size: 0.9em;
    color: #555;
    display: none;
}

button {
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    background-color: rgb(0, 0, 100);
    color: white;
    box-shadow: 2px 3px 6px #00000017;
    transition: 0.4s ease all;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 0, 170);
}

#signUpButton, #logInButton {
    display: block;
    margin: 10px auto;
    box-shadow: 2px 3px 6px #00000017;
}

#googleSignInButton {
    width: 100%;
    border-radius: 4px;
    box-shadow: 2px 3px 6px #00000017;
}

#formLogInContainer p {
    text-align: left;
    margin-top: 10px;
}

#formLogInContainer a {
    color: rgb(0, 0, 100);
    text-decoration: none;
}

#formLogInContainer a:hover {
    text-decoration: underline;
}

/* **************************END OF SIGN UP & LOG IN ************************** */

main {
    flex: 1;
    padding: 20px 5% 30px 5%;
}

footer {
    background-color: rgb(0, 0, 100);
    color: white;
    height: fit-content;
    padding: 15px 15px 20px 15px;
}

footer h4 {
    font-size: 0.8em;
    text-align: center;
}

#footer-devs-container {
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    gap: 0 15px;
    text-align: center;
}

/* @media (max-width: 1024px) {} */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 600px) {
    .form div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form label {
        flex: 1;
    }

    .form input {
        flex: 2;
    }

    #formSignUpContainer, #formLogInContainer {
        max-width: 600px;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        right: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 100, 0.8);
        backdrop-filter: blur(10px);
        width: 100%;
        transition: 0.3s;
        padding: 20px 0 0 0;
    }

    .nav-item {
        margin: 0 auto 20px auto;
    }

    .nav-menu.active {
        right: 0;
    }
}

@media only screen and (min-width: 992px) {
    .nav-menu {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
    }

    .hamburger {
        display: none;
    }

    #formSignUpContainer, #formLogInContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .form {
        flex: 1;
        margin: 0 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar {
        padding: 0 10%;
    }

    #formSignUpContainer, #formLogInContainer {
        max-width: 800px;
    }
}